@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-main: oklch(0.444 0.177 26.899);
  --color-just-watch: #fbc500;
  --color-background: #14181c;
  --color-dusty-sky: #99AABB;
  --color-pastel-sky: #BBCCDD;
  --color-midnight-gray: #445566;
  --color-midnight-blue: #2C3440;
  --color-sky-blue: #40bcf4;
  --color-shadow-gray: #303840;

  --font-nunito-sans: "Nunito Sans", sans-serif;
  --font-merriweather: "Merriweather", serif;
}