@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-main: oklch(0.444 0.177 26.899);
  --color-just-watch: #fbc500;
  --color-background: #14181c;

  --font-roboto: "Roboto", serif;
  --font-lora: "Lora", serif;
}